name: "verify-kinds"

on:
  pull_request:
    branches: [ main ]
    paths:
      - '**/*.cue'

permissions: {}

jobs:
  main:
    runs-on: "ubuntu-latest"
    permissions:
      contents: read # clone repository
    steps:
      - name: "Checkout Grafana repo"
        uses: "actions/checkout@v5"
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: "Setup Go"
        uses: "actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c"
        with:
          go-version-file: go.mod

      - name: "Verify kinds"
        run: go run .github/workflows/scripts/kinds/verify-kinds.go
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
